<mat-sidenav-container class="sidenav-container">
  <!-- Menú lateral con modo 'side' -->
  <mat-sidenav #sidenav mode="side" [(opened)]="menuOpen" class="sidenav">
    <div class="sidenav-header">
      <mat-icon class="app-icon">account_balance_wallet</mat-icon>
      <h1>Expense Tracker</h1>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <div class="icon-container">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </div>
      </a>
      <a
        mat-list-item
        routerLink="/transactions"
        routerLinkActive="active-link"
      >
        <div class="icon-container">
          <mat-icon>list_alt</mat-icon>
          <span>Transacciones</span>
        </div>
      </a>
      <a mat-list-item routerLink="/statistics" routerLinkActive="active-link">
        <div class="icon-container">
          <mat-icon>bar_chart</mat-icon>
          <span>Estadísticas</span>
        </div>
      </a>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-container">
              <mat-icon>settings</mat-icon>
              <span>Configuración</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a
            mat-list-item
            routerLink="/settings/categories"
            routerLinkActive="active-link"
          >
            <div class="icon-container">
              <mat-icon>category</mat-icon>
              <span>Categorías</span>
            </div>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <!-- Barra superior (header) con botón para abrir el menú -->
    <mat-toolbar color="primary" class="header-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-toggle">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">Expense Tracker App</span>
      <span class="spacer"></span>
      <button mat-icon-button class="user-profile">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Contenido dinámico -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
